body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:563px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:782px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:9px;
  width:439px;
  height:782px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:383px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
