body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:608px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:733px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:0px;
  width:406px;
  height:733px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
